<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <appender name="ReportWriter" type="log4net.Appender.RollingFileAppender">
      <!---->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--日志文件名-->
      <file type="log4net.Util.PatternString" value="D:\LogFile\Statistician4Worker\Report.log" />
      <!--文件的编码-->
      <encoding value="utf-8" />
      <!--日期的格式-->
      <datePattern value="yyyyMMdd" />
      <!--是否在文件中追加-->
      <appendToFile value="false" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <rollingStyle value="Composite" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小-->
      <maximumFileSize value="100MB" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="false" />
      <!--保持文件后缀-->
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
    </root>
    <logger name="Statistician4Worker.Utils.LogUtils">
      <appender-ref ref="ReportWriter" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>